{% extends BASE_TMP %}

{% load staticfiles %}
{% block content %}
<div>
<h1></h1>
</div>
<hr class="uk-grid-divider">

<div class="uk-grid uk-grid-small uk-container-center uk-grid-divider" data-uk-grid-margin>

  <div class="uk-width-1-10">
  </div>

  <div class="uk-width-2-10">
    <div class="uk-panel uk-panel-hover">
      <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Karel机器人</h3>
      <a href="http://static.nclab.com.cn/textbook/Karel.pdf"><img height="200" src="http://images.nclab.com.cn/img/karel-cover-small.png" alt=""></a>
    </div>
  </div>

  <div class="uk-width-2-10">
    <div class="uk-panel uk-panel-hover">
      <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Turtle Tina</h3>
      <a href="/"><img height="200" src="http://images.nclab.com.cn/img/turlte-cover.png" alt=""></a>
    </div>
  </div>

  <div class="uk-width-2-10">
    <div class="uk-panel uk-panel-hover">
      <h3 class="uk-panel-title"><i class="uk-icon-book"></i> 3D 建模</h3>
      <a href="http://static.nclab.com.cn/textbook/PLaSM.pdf"><img height="200" src="http://images.nclab.com.cn/img/plasm-cover.png" alt=""></a>
    </div>
  </div>

  <div class="uk-width-2-10">
    <div class="uk-panel uk-panel-hover">
      <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Python 编程</h3>
      <a href="http://static.nclab.com.cn/textbook/Python.pdf"><img height="200" src="http://images.nclab.com.cn/img/python-cover.png" alt=""></a>
    </div>
  </div>

  <div class="uk-width-1-10">
  </div>

</div>
          


<hr class="uk-grid-divider">

{% endblock %}

{% block reactjs %}
{% endblock %}