{% extends 'base/v0.1/base.html' %}

{% block content %}
<!-- <p>{{ blog.title }}</p> -->
<center><h1><strong>Courses Gallary</strong></h1></center>
<div class="container">
<div class="uk-grid uk-container-center">
    <div class="uk-width-1-3">
        <!-- <video width="480" height="320" loop muted controls>  
            <source src="http://static.nclab.com.cn//video/HOC-Section-2.mp4" type="video/mp4" >
        </video> -->
    </div>
    <div class="uk-width-1-3">
    	<video width="480" height="320" autoplay loop controls>  
            <source src="http://static.nclab.com.cn/video/HOC-Section-1.mp4" type="video/mp4" >
        </video>
    </div>
    <div class="uk-width-1-3">
    	<!-- <video width="480" height="320" loop muted controls>  
            <source src="http://static.nclab.com.cn//video/HOC-Section-3.mp4" type="video/mp4" >
        </video> -->
    </div>
</div>
</div>
{% endblock%}