{% extends BASE_TMP %}

{% load staticfiles %}

{% block content %}
<h2>3D 建模</h2>
<hr class="uk-grid-divider">
<div class="uk-grid uk-grid-width-1-5" data-uk-grid-margin>
	{% for demo_url in code_list %}
  		<div>
  			<a href="{{ demo_url }}" target="_blank">
    			<img src="http://images.nclab.com.cn/img/3d/{{ forloop.counter }}.png"></img>
  			</a>
		</div>
	{% endfor %}
</div>
<hr class="uk-grid-divider">
<div>Go to >> <a href="{% url 'gallery_karel' %}">  Karel 编程</a></div>
{% endblock %}

{% block reactjs %}
{% endblock %}