{% extends "base/v0.1/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "如果您输入的邮箱帐户存在, 则我们会按照您的要求发送密码重置邮件. 您将很快收到此邮件." %}</p>

<p>{% trans "如果您没有收到密码重置邮件, 请您确保输入了正确的注册邮箱地址, 或者查看一下垃圾邮件箱." %}</p>

<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}
