{% extends BASE_TMP %}

{% load staticfiles %}

{% block content %}
	<p> 感谢您注册为NCLab用户!  </p>

	{% if not user.person.is_verified %}
		<p> 我们向您发送了验证地址,  请移步注册邮箱进行 <botton><a href="{{ user.person.mailbox }}" target='_blank'> 验证 </a></botton></p>
	{% else %}
		{% if not user.person.is_admitted %}
			<p>您的邮箱地址已经认证.</p>
			<p>我们将在24小时内为您安装材料，开通帐户，并邮件通知您。</p>
		{% else %}
			<p>恭喜您帐户激活成功.</p>
			<p>祝使用愉快。</p>
			<p><a href="https://desktop.nclab.com/" target="_blank">在线桌面</a> 欢迎您！</p>
		{% endif%}
	{% endif %}
{% endblock %}