{% extends "base.html" %}

{% block body %}
    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">请登陆</h2>
        <input type="email" class="form-control" placeholder="邮箱" required autofocus>
        <input type="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 陆</button>
      </form>

    </div> <!-- /container -->
    <hr />
    <h2>第三方登陆</h2>
    {% load staticfiles %}
    <a href="{% url 'socialauth_begin' 'douban2' %}"><img src="{%static 'img/douban/login_with_douban_32.png' %}"></a>
{% endblock %}
