<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} Karel Quiz {% endblock %} </title>
    <!-- CSS -->
    <link href="{% static 'bootstrap/3.2.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fuelux/3.0.0/css/fuelux.min.css' %}" rel="stylesheet">
    <link href="{% static 'uikit/2.12.0/css/uikit.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'appetizer/css/signin.css'%}" rel="stylesheet">
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'uikit/2.12.0/js/uikit.min.js' %}"></script>
    <script src="{% static 'bootstrap/3.2.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fuelux/3.0.0/js/fuelux.min.js' %}"></script>
  </body>
</html>