<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title> {% block title %} Karel {% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/3.3.1/css/bootstrap-theme.min.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'jungle/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'fuelux/3.0.0/css/fuelux.min.css' %}" rel="stylesheet">
    <link href="{% static 'uikit/2.12.0/css/uikit.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'jungle/css/signin.css'%}" rel="stylesheet">
    <link href="{% static 'jungle/css/jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div id="spinning-container">
            <img src="http://images.nclab.com.cn/img/karel-alone.png" style="margin:10px 10px 0 0;" width="44" height="44" alt="Karel">
          </div>  
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Karel机器人</a>
        </div>
        
        <!-- <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>

        </div><!--/.navbar-collapse --> -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="list-inline navbar-right">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'login' %}" class="btn btn-success" role="button">登陆</a></li>
              <li><a href="{% url 'create' %}" class="btn btn-primary" role="button">注册</a></li>
            {% else %}
              <li> 欢迎: {{ user.username }} </li>
              {% if user.is_staff and user.is_superuser %}
                <li> <a href="/dimension/admin/" class="btn btn-primary" role="button">  管理员 </a></li>
              {% endif %}
                <li><a href="{% url 'logout' %}" class="btn btn-success" role="button">登出</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Karel, 欢迎你!</h1>
        <p>Karel the Robot 是驻在在线平台中的可视化互动自学习机器人, 它能够帮助初学者循序渐进地进入编程殿堂.</p>
	<p><a class="btn btn-primary btn-lg" href="http://karel.readthedocs.org/zh_CN/latest/p01.html" role="button" target='_blank'>了解更多 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>经典</h2>
          <p>Karel the Robot由Rich Pattis始创于1970年代，是标准的编程入门学习课程. 符合国际计算机课程教学大纲. 经历代程序员发展，设计出多种实现版本. </p>
          <p><a class="btn btn-default" href="#" role="button">更多 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>互动</h2>
          <p>在线平台中，Karel机器人采取自学习模式，通过交互，教程，视频，情节，插画等最大程度程度满足交互体验，增强互动实践.</p>
          <p><a class="btn btn-default" href="#" role="button">更多 &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>技能</h2>
          <p>Karel机器人将使您由零基础变为掌握基本编程概念，这些实用技能会帮助您无缝过渡到Python语言和3D作图建模等高级课程的学习.</p>
          <p><a class="btn btn-default" href="#" role="button">更多 &raquo;</a></p>
        </div>
      </div>

      {% endblock %}

    </div> <!-- /container -->
    
    <hr>

    <footer>
      <p class="text-center">&copy; Computing-works 2015 | <img style="width: 120px; height: 120px" src="http://images.nclab.com.cn/img/karel-qr.jpg"/></p>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'jquery/1.11.2/jquery.min.js' %}"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'uikit/2.12.0/js/uikit.min.js' %}"></script>
    <script src="{% static 'bootstrap/3.3.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fuelux/3.0.0/js/fuelux.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'jungle/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'jungle/js/myapp.js' %}"></script>
  </body>
</html>
